server:
  port: 9991

spring:
  main:
    banner-mode: off
#region: database connection properties
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: postgres
    password: pwd
    driver-class-name: org.postgresql.Driver
#endregion
  jackson:
    property-naming-strategy: UPPER_CAMEL_CASE
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
      ADJUST_DATES_TO_CONTEXT_TIME_ZONE: false
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
      WRITE_DATE_KEYS_AS_TIMESTAMPS: false
      WRITE_DATE_TIMESTAMPS_AS_NANOSECONDS: false
  flyway:
    enabled: true
    url: "jdbc:postgresql://localhost:5432/postgres"
    user: postgres
    password: pwd
    baseline-on-migrate: true

logging:
  level:
    org.jooq: DEBUG